@import compass
@import compass/typography/vertical_rhythm

$base-font-size:          18px
$base-line-height:        26px

$blueprint-grid-columns:  12
$blueprint-grid-width:    42px
$blueprint-grid-margin:   10px

$menu-transition-duration: 618ms
$menu-transition-timing:   ease-out

=bracket
  &:before
    content: '['
  &:after
    content: ']'
