#menu
  color:     #000
  overflow:  hidden
  position:  relative

  > div
    +clearfix
    +opacity(0)
    +single-transition(opacity, $menu-transition-duration * 1.6, ease-in)

    left:         50%
    position:     absolute
    bottom:       0
    margin-left:  -$blueprint-container-size / 2
    width:        $blueprint-container-size
    z-index:      -1

  .name, .desc
    +column(9)

  .name
    +adjust-font-size-to(24px)
    +bracket

  .desc
    +adjust-font-size-to(14px)

    text-align: justify

  .price
    +adjust-leading-to(2)
    +float-right
    +leader(-2)

    width:       span(3)
    text-align:  center

  #{$menu-sections-classed}
    > div
      +clearfix
      +trailer

#menu, #tiles
  +opacity(0)
  +single-transition(height, $menu-transition-duration, $menu-transition-timing)

#tiles
  +single-box-shadow(#000, 0, 0, 10px, 0, true)

  position:  absolute
  width:     100%

@import menu-sections
@import menu-overrides
@import hider
