#navigation
  $fs: 24px
  margin-top: -$logo-offset-bottom + $logo-span-margin
  ul
    +container

  li
    $sw: span(3)
    $sh: $base-line-height * 5
    +adjust-font-size-to($fs)
    +column(3)
    +opacity(0.5)
    +single-transition(opacity, $menu-transition-duration, $menu-transition-timing)

    background: image-url('hud.png') no-repeat
    text-align: center

    &.pizza
      +offset-sprite-position($logo-width, 1, 1, $sw, $sh)
    &.dessert
      +offset-sprite-position($logo-width, 2, 1, $sw, $sh)
    &.salad
      +offset-sprite-position($logo-width, 3, 1, $sw, $sh)
    &.pasta
      +last
      +offset-sprite-position($logo-width, 4, 1, $sw, $sh)

    a
      +bracket
      +link-colors(#fff)
      +padding-leader(5, $fs)

      display:          block
      text-decoration:  none
