@import base
@import blueprint/grid

+global-reset
+establish-baseline

html
  background-image: image-url('leather.png')
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

body
  color: #fff
  +single-box-shadow(#000, 0, 0, 10px, 100%, true)

#heading
  h2
    display: none

  h1
    +replace-text-with-dimensions('logo.png')
    margin-left: -100px

#menu
  // this kind of kills mobilesafari
  // $ends:    rgba(#000, 0.2)
  // $middle:  rgba(#000, 0)
  // +background-image(linear-gradient($ends, $middle 5%, $middle 95%, $ends 100%), image-url('menu.png'))

  +single-box-shadow(#000, 0, 0, 10px, 0, true)
  +single-transition(height, $menu-transition-duration, $menu-transition-timing)

  background:  #b5deb1 image-url('menu.png')
  color:       #000
  overflow:    hidden
  position:    relative

  > div
    border: 1px solid #f0f
    +single-transition(opacity, $menu-transition-duration, $menu-transition-timing)
    +opacity(0)

    left:      50%
    position:  absolute
    bottom:       0
    margin-left: -$blueprint-container-size / 2
    width: $blueprint-container-size

#navigation
  $fs: 24px
  ul
    +container

  li
    $sw: span(3)

    +adjust-font-size-to($fs)
    +column(3)
    +opacity(0.5)
    +single-transition(opacity, $menu-transition-duration, $menu-transition-timing)

    background: image-url('ui.png') no-repeat
    text-align: center

    &.dessert
      +sprite-column(2, $sw)
    &.salad
      +sprite-column(3, $sw)
    &.pasta
      +last
      +sprite-column(4, $sw)

    a
      +bracket
      +link-colors(#fff)
      +padding-leader(5, $fs)

      display:          block
      text-decoration:  none

#goal
  margin:  0 auto
  width:   span(6)

  p
    +leader

@each $part in pizza rhythm(63), dessert 300px, salad 300px, pasta 400px
  $section:  nth($part, 1)
  $height:   nth($part, 2)

  ##{$section}
    &:target
      #navigation .#{$section}
        +opacity(1)

      #menu
        height: $height
        .#{$section}
          +opacity(1)

#pizza #menu .pizza
  > div
    +clearfix
    +trailer
  .prices
    +float-right

    .small, .medium, .large
      +column(1)
  .name
    +bracket

  .desc
    +column(9)
    +last
    +adjust-font-size-to(13px, 0.5)
    text-align: justify
