@import base
@import blueprint/grid

+global-reset
+establish-baseline

*
  -webkit-font-smoothing: subpixel-antialiased

html
  background-image: image-url('leather.png')
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

body
  color: #fff
  +single-box-shadow(#000, 0, 0, 10px, 100%, true)

@import heading
@import menu
@import navigation
@import goal
@import vignette
