#tiles
#menu
  - (MAIN_SECTIONS - ['Salad']).each do |section|
    %div{ class: section.downcase }
      = render_menu_for(section.downcase.to_sym)
  .salad
    = render_menu_for :salad
    = render_menu_for :app
