!!!

%html
  %head
    %title Pi Gourmet
    = stylesheet_link_tag "screen.css"

  %body
    #vignette
    #heading
      %h1 Pi
      %h2 Gourmet Eatery
      %address
        %a(href='http://g.co/maps/r287h') 10 Kings Rd.
        709.726.2000

    #pizza
      #dessert
        #salad
          #pasta
            #navigation
              %ul
                - %w[Pizza Dessert Salad Pasta].each do |w|
                  %li{class: w.downcase}= link_to w, "##{w.downcase}"

            #page= yield

    #goal
      .hours
        %dl
          %dt sun - thu
          %dd 12p - 10p
          %dt fri - sat
          %dd 12p - 11p

        %p keep in mind the kitchen closes a half hour before the restaurant
      .platitude
        %p all of our thin crust pizzas are made with vegan friendly dough and only the freshest ingredients.
        %p our mediterranean style pizzas seek to fuse old world charm with contemporary tastes.
        %p gluten-free dough available in small +$2.
